* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(319deg, #7fd82b 0%, #ef4063 37%, #e557c6 100%);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

img {
    width: 500px;
    margin: 10px;
}